@import "variables";
// remove the "_" next to bootstrap for full features import
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";

// make sure ng-cloak components are hidden until Angular deems them ready for rendering
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.game-controls,
.game-status {
  //padding: 15px 0;
  //border: 1px solid #000000;
}

.game-controls > div,
.game-status > div {
  display: inline-block;
}

.game-status .glyphicon {
  &:not(.glyphicon-flag) {
    // figure out how to use the .hidden(); mixin?
    display: none;
  }
  &.glyphicon-flag {
    color: $flag-color;
  }
}

.game-status button:hover {
  .glyphicon:not(.glyphicon-refresh) {
    &:not(.glyphicon-flag) {
      // figure out how to use the .hidden(); mixin?
      display: none !important;
    }
  }

  .glyphicon.glyphicon-refresh {
    // figure out how to use the .show(); mixin?
    display: block;
  }
}

.minefield {
  background: linear-gradient(to right bottom, $cell-plain-color-gradient-start, $cell-plain-color-gradient-end);
  width: ($cell-size * $grid-size-small);

  &.medium {
    width: ($cell-size * $grid-size-medium);
  }

  &.large {
    width: ($cell-size * $grid-size-large);
  }

  .row {
    margin: 0;
    height: $cell-size;
  }
}

.cell-wrapper {
  display: inline-block;
}

.cell {
  display: inline-block;
  width: $cell-size;
  height: $cell-size;
  border: 1px solid $cell-border-color;
  vertical-align: middle;

  &:not(.cleared):hover {
    background: linear-gradient(to right bottom, $cell-plain-color-gradient-start, $cell-plain-color-gradient-end), $cell-hover-color;
    background-blend-mode: luminosity;
  }

  &.cleared {
    background: linear-gradient(to right bottom, $cell-cleared-color-gradient-start, $cell-cleared-color-gradient-end);
  }

  .glyphicon-flag {
    color: $flag-color;
    &.disarmed {
      color: $flag-disarmed-color;
    }
  }

  .mine.exploded {
    color: $mine-exploded-color;
  }

  .adjacent-mine-count {
    font-weight: bold;
    &-1 {
      color: $one-adjacent-mine-color;
    }
    &-2 {
      color: $two-adjacent-mines-color
    }
    &-3 {
      color: $three-adjacent-mines-color
    }
    &-4 {
      color: $four-adjacent-mines-color
    }
    &-5 {
      color: $five-adjacent-mines-color
    }
    &-6 {
      color: $six-adjacent-mines-color
    }
    &-7 {
      color: $seven-adjacent-mines-color
    }
    &-8 {
      color: $eight-adjacent-mines-color
    }
  }
}

.minefield .cell span {
  cursor: default;
  vertical-align: middle;
}

/*
I'm rusty on CSS animations, and copied the below CSS from the following snippet link:
https://bootsnipp.com/snippets/featured/glyphicon-animate-rotation-and-flip
 */
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
