// override bootstrap font path
$icon-font-path: "../src/assets/fonts/bootstrap/";

// grid variables
$grid-size-small: 9;
$grid-size-medium: 16;
$grid-size-large: 32;

// cell variables
$cell-size: 25px;
$cell-plain-color-gradient-start: #cee0f3;
$cell-plain-color-gradient-end: #5564ff;
$cell-cleared-color-gradient-start: #ffffff;
$cell-cleared-color-gradient-end: #ababab;
$cell-border-color: #000000;
$cell-hover-color: #5ca5da;

$mine-exploded-color: #ca1b1b;

$flag-color: #a01d1d;
$flag-disarmed-color: #008000;
