// override bootstrap font path
$icon-font-path: "../src/assets/fonts/bootstrap/";

// cell variables
$cell-size: 25px;
$cell-plain-color: #cccccc;
$cell-cleared-color: #ffffff;
$cell-border-color: #000000;
$cell-hover-color: #808080;
